body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    
    color:#f2f2f2;
    padding: 20px;
}

.container {
    padding: 10px;
}

form {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0px;
}

label {
    position: center;
    display: block;
    color:aquamarine;
    margin-bottom: 1px;
}

input {
    margin-bottom: 10px;
}

input[type="text"], input[type="number"] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    text-align: center;
    width: 20%;
    
}

input[type="submit"]:hover {
    background-color: #45a049;
}

table {
    width: 60%; /* Adjust the table width */
    margin: 20px auto;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 4px; /* Reduce the padding */
    text-align: left;
    font-size: 0.9em; /* Adjust the font size */
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tr:hover {
    background-color: #ddd;
  }
